<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <!--<h2>Hello [[prop1]]!</h2>-->
      <h1 class="col-md-12">Login Usuario</h1>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}"> <!--siendo el value para enlazar la propiedad con el evento-->
    <input type="password" placeholder="Password" value="{{password::input}}">
    <button class="btn btn-success" on-click="login">Login</button> <!--login sería una función manejadora-->
    <span hidden$="{{!isLogged}}">Si esto sale nos podemos ir</span> <!--Hidden a true, se muestra. A false no se muestra-->

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          isLogged:{
            type: Boolean,
            value:false
          }
        };
      }

    login(){
        console.log("El usuario ha pulsado el botón");
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        this.$.doLogin.body=JSON.stringify(loginData); //convertimos el objeto a un JSON y se lo pasamos al Body
        this.$.doLogin.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
        console.log("Petición enviada");
    }

    manageAJAXResponse(data){ //si hay error, va a showError y no va a manageAJAXReponse
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      this.isLogged=true;
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }

  }//loginUsuario

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
