<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <!--<h2>Hello [[prop1]]!</h2>-->
      <h1 class="col-md-12">Visor Cuentas</h1>
      <h2 class="col-md-5">Soy usuario con id {{userid}}</h2>
      <h2 class="col-md-5">y tengo este iban {{iban}}</h2>
      <h2 class="col-md-5">con este saldo {{balance}}</h2>
    </div>
    <!--<button class="btn btn-success">Login</button>-->
    <!--<button class="btn btn-warning">Logout</button>-->
    <!--<input type="text" value="{{first_name::input}}"/>-->
    <!--<input type="range" min="18" value={{age::input}} max="70"/>-->

    <!--la funcion manejadora es showData-->
    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          balance:{
            type: Number
          }
        };
      }
      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        console.log(data);
        console.log(data.detail.response);
        console.log(data.detail.response.userid);
        console.log(data.detail.response.iban);
        console.log(data.detail.response.balance);

        this.userid = data.detail.response.userid;
        this.iban = data.detail.response.iban;
        this.balance = data.detail.response.balance;

      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
